<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="VideoConnection"
         connectionString="Data Source=163.178.173.130;Initial Catalog=VideoRentC02777_I2025;Persist Security Info=True;User ID=Lenguajes;Password=lenguajesparaiso2025;Encrypt=True;Trust Server Certificate=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>